# Ignore the build directories (incl. glass-making variants)
StePS/build/
StePS/build_glass*/

# Ignore the Makefile since it is platform-dependent
StePS/Makefile

# Ignore glio since it is a different repository
tools/Utils/glio/

# Ignore __pycache__ directories
tools/*/__pycache__/
tools/*/*/__pycache__/

#ignore the .vscode directory
.vscode/